<mat-card>
  <h2 class="mat-headline">Adatlapom</h2>
  <mat-list>
    <div *ngFor="let vote of votes">
      <mat-list-item [style.background]="boardItems[vote.board]['categories'][vote.category].color">
        <h3 mat-line>{{ boardItems[vote.board].name}}</h3>
        <h4 mat-line>{{ boardItems[vote.board]['categories'][vote.category].name}}</h4>
        <span>{{ getUserName(vote)}}</span>
        <mat-icon>{{ getDirection(vote)}}</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</mat-card>
