<mat-card>
  <h2 class="mat-headline"><mat-icon mat-font-set="material-icons"> {{board?.icon}} </mat-icon> {{ board?.name }}</h2>
  <mat-list>
    <div *ngFor="let user of board?.users" (click)="openVote(user.email, user.name)" style="cursor: pointer;">
      <mat-list-item>
        <h3 mat-line>{{user.name}}</h3>
        <p mat-line>
          <app-vote-progress *ngIf="votes"
                  [votes]="this.votes?.users[user.email]"
                  [categories]="board.categories"
                  [percentage]="votes?.votePercentage">
          </app-vote-progress>
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>

  <p *ngIf="adminUser?.email == userEmail">
    <button mat-raised-button class="mat-warn" (click)="archiveBt(board.$key)" >{{board?.name}} lezárása </button>
  </p>
</mat-card>
