<mat-toolbar  ng-hide="isLoggedIn" color="primary">
  <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <h2 *ngIf="title">{{ title }}</h2>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="/me">
      <mat-icon>list</mat-icon>
      <span>Adatlapom</span>
    </a>
    <a mat-menu-item href="/boards">
      <mat-icon>dashboard</mat-icon>
      <span>Tábláim</span>
    </a>
    <button mat-menu-item (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Kilépés</span>
    </button>
  </mat-menu>
  <h1 class="mat-headline"></h1>

  <div [hidden]="!isLoggedIn" class="inline" layout="row" layout-wrap>
    <div class="profile-name">{{userProfile.name}}</div>
    <div><img class="profile-picture" src="{{userProfile.img}}" /></div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
