<md-toolbar  ng-hide="isLoggedIn" color="primary">
  <button *ngIf="isLoggedIn" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>menu</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a md-menu-item href="/me">
      <md-icon>list</md-icon>
      <span>Adatlapom</span>
    </a>
    <a md-menu-item href="/boards">
      <md-icon>dashboard</md-icon>
      <span>Tábláim</span>
    </a>
    <button md-menu-item (click)="logout()">
      <md-icon>power_settings_new</md-icon>
      <span>Kilépés</span>
    </button>
  </md-menu>
  <h1 class="mat-headline"></h1>

  <div [hidden]="!isLoggedIn" class="inline" layout="row" layout-wrap>
    <div class="profile-name">{{userProfile.name}}</div>
    <div><img class="profile-picture" src="{{userProfile.img}}" /></div>
  </div>
</md-toolbar>

<router-outlet></router-outlet>
