<ul>
  <md-card *ngFor="let item of boardItems">{{ item.name }}</md-card>
</ul>

<hr />

<md-card>


    <input type="email" [(ngModel)]="vote.from" /><br />

    <input type="email" [(ngModel)]="vote.to" /><br />

    <input type="number" [(ngModel)]="vote.board" /><br />

    <input type="number" [(ngModel)]="vote.category" /><br />

    <input type="text" [(ngModel)]="vote.description" /><br />


  <button (click)="saveVote()">Save Vote</button>

  <hr />
  {{ vote.from }} -- {{ vote.to }} -- {{ vote.board }} -- {{ vote.description }}


  <hr />
  {{ votes | json}}


  <hr />
  {{ ev | json }}
</md-card>