<md-card>
  <h2 class="mat-headline">{{ board?.name }}</h2>
  <md-list>
    <div *ngFor="let user of board?.users" (click)="openVote(user.email, user.name)" style="cursor: pointer;">
      <md-list-item>
        <h3 md-line>{{user.name}}</h3>
        <p md-line>
          <app-vote-progress *ngIf="votes"
                  [votes]="this.votes?.users[user.email]"
                  [categories]="board.categories"
                  [percentage]="votes?.votePercentage">
          </app-vote-progress>
        </p>
      </md-list-item>
      <md-divider></md-divider>
    </div>
  </md-list>

  <p *ngIf="adminUser?.email == userEmail">
    <button md-raised-button class="md-warn" (click)="archiveBt(board.$key)" >{{board?.name}} lezárása </button>
  </p>
</md-card>